main {
  min-height: 80vh;
}

header,
footer {
  text-align: center;
}

#music-catalogue {
  width: 80vw;
  min-height: 60vh;
  border: solid black 1px;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.song-stuff {
  display: inline-block;

}
#music-catalogue > div {
  margin-bottom: 2em;
}

audio {
  display: block;
}

.pill {
  padding: .2em 2em;
  border-radius: 50px;
  width: fit-content;
  display: inline-block;
}

.artist {
}

.track {
}